<div class="row text-center mt-5 mb-4">
    <div class="col-sm-12">
        <h1>CHOOSE YOUR TEAM</h1>
    </div>
</div>
<div class="row justify-content-sm-center">
    <div class="col-sm-4 mb-2">
        <%= button_to 'CHANGE', create_change_user_path, class: "btn btn-lg btn-success btn-block" %>
    </div>
    <div class="col-sm-4 mb-2">
        <%= button_to 'IT', create_it_user_path, class: "btn btn-lg btn-success btn-block" %>
    </div>
</div>