<div class="row text-center justify-content-sm-center">
  <div class="col-sm-7">
    <h1>Hello!</h1>
    <p class="lead">Welcome to the LGI Cloud Strategy quiz</p>
    <p>Please join one of the teams to take part in a short quiz covering the 
    material given by <mark>Prakash</mark>, <mark>Dave</mark> and <mark>Vijay</mark></p>
  </div>
</div>
<div class="row text-center mb-4">
    <div class="col-sm-12">
        <h3 class="text-uppercase">Please choose your side</h3>
    </div>
</div>
<div class="row justify-content-sm-center">
    <div class="col-sm-4 mb-2">
        <%= button_to 'CHANGE', create_change_user_path, class: "btn btn-lg btn-primary btn-block" %>
    </div>
    <div class="col-sm-4 mb-2">
        <%= button_to 'IT', create_it_user_path, class: "btn btn-lg btn-primary btn-block" %>
    </div>
</div>
<div class="row text-center mt-4">
    <div class="col-sm-12 text-muted">
        <p>Prizes will be awarded to the brainiest</p>
    </div>
</div>