<div class="row text-center">
  <div class="col-lg-12">
      <div class="row mb-4">
          <div class="col">
            <h1>Registered!</h1>
            <p class="mt-4">Your computer generated name for this quiz is</p>
            <p class="h3"><mark><%= @user.name %></mark></p>
          </div>
      </div>
      <div class="row">
          <div class="col actions">
              <%= button_to "Start the quiz", create_quiz_path, class: "btn btn-primary text-uppercase"%>
          </div>
      </div>
  </div>
</div>