<div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-10 p-3 mb-5 bg-secondary text-white rounded-lg shadow-lg">
        <div class="row">
            <div class="col-sm-12 col-md-5 text-center">
                <div class="row mb-3">
                    <%= image_tag 'logo.svg', size: "150x150", class: "mx-auto d-block" %>
                </div>
                <h3>
                    <span class="small">LGI</span><br/>
                    Cloud Strategy<br/>
                    <span class="small">Quiz</span>
                </h3>
            </div>
            <div class="col-sm-12 col-md-7 mt-5 text-center">
                <p class="h3 mb-4">Great Job <span class="text-success"><%= @user.name %></span>!</p>
                <p class="h6 mb-2 text-uppercase">You scored</p>
                <p class="h2 text-warning"><%= @quiz.percent %>%</p>
                <%= link_to "Show Leaderboard", stats_path, class: "btn btn-primary text-uppercase mt-3"%>
            </div>
        </div>
    </div>
</div>