<div class="jumbotron">
  <h1 class="text-muted">Welcome!</h1>
  <p>
    Please select your Quiz Team:
  </p>
  <div class="row">
    <div class="col-sm-3">
      <%= button_to 'CHANGE', welcome_index_path, class: "btn btn-lg btn-success btn-block" %>
    </div>
    <div class="col-sm-3">
      <%= button_to 'IT', welcome_index_path, class: "btn btn-lg btn-success btn-block" %>
    </div>
  </div>
  <br/>
  <p>
    <strong>Note:</strong> You will be given a pseudonym after you have joined a team.
  </p>
</div>