<% if leaders.any?  %>
    <div class="row">
        <% leaders.each_with_index do |leader, idx| %>
            <% if idx < 3 %>
                <div class="col-12 font-weight-bold">
                    <%= (idx + 1).ordinalize %> 
                    <%= leader %>
                </div>
            <% else %>
                <div class="col-12">
                    <%= (idx + 1).ordinalize %> 
                    <%= leader %>
                </div>
            <% end %>
        <% end %>
    </div>
<% else %>
    <div class="no-leaders">
        No-one appears to be started the quiz yet!
    </div>
<% end %>