<% if leaders.any?  %>
    <ul class="list-unstyled">
        <% leaders.each_with_index { |leader, idx| %>
                <li class="font-weight-bold text-muted">
                    <h5>
                        <%= (idx + 1).ordinalize %> <small><%= leader %></small>
                    </h5>
                </li>
        <% } %>
    </ul>
<% else %>
    <div class="no-leaders">
        No-one appears to be started the quiz yet!
    </div>
<% end %>