<% if leaders.any?  %>
    <div class="row">
        <% leaders.each_with_index do |leader, idx| %>
            <div class='<%= class_string("col-12"=>true, "font-weight-bold"=>idx < 3) %>'>
                <div class="row">
                    <div class="col-1 mr-1 text-nowrap"><%= (idx + 1).ordinalize %></div>
                    <div class="col"><%= leader %></div>
                </div> 
            </div>
        <% end %>
    </div>
<% else %>
    <div class="no-leaders">
        No-one appears to be started the quiz yet!
    </div>
<% end %>