<div class="row small">
    <div class="col">
        Quizzes : <strong><%= stats.completed %> completed</strong>
        | 
        <strong><%= stats.remaining %> remaining</strong>
    </div>
</div>
<div class="row small">
    <div class="col">
        Competitors : <strong><%= stats.competitors %></strong>
    </div>
</div>