<div class="row small">
    <div class="col">
        Quizzes : <strong><%= stats.complete %> complete</strong>
        | 
        <strong><%= stats.incomplete %> incomplete</strong>
    </div>
</div>
<div class="row small">
    <div class="col">
        Competitors : <strong><%= stats.competitors %></strong>
    </div>
</div>